<div class="markdown-editor">
  <h2>Edit Markdown</h2>
  <%= form_with url: update_markdown_default_resume_path(@default_resume), method: :post, local: true do |form| %>
    <div class="form-group">
      <%= form.label :markdown, "Markdown Content" %>
      <%= form.text_area :markdown, rows: 20, class: "markdown-editor" %>
    </div>
    <%= form.hidden_field :status %>
    <div class="actions">
      <%= form.submit "Save Markdown" %>
      <%= link_to "Cancel", edit_default_resume_path(@default_resume) %>
    </div>
  <% end %>
</div>
